* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(29, 29, 29);
    font-family: 'Poppins', sans-serif;
    height: auto;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.background {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1.hello {
        font-weight: 1900;
        font-size: 7.5rem;
        color:rgba(255, 255, 255, 0);
        text-transform: uppercase;
        font-style: italic;
        -webkit-text-stroke: 1px white;
    }
    h1.hello-fill {
        line-height: 45px;
        font-weight: 1900;
        font-size: 7.5rem;
        color:white;
        text-transform: uppercase;
        font-style: italic;
    }
    p.info {
        margin-top: 2rem;
        font-size: 1.25rem;
        color: white;
        margin-bottom: 3rem;
    }
    .socials {
        color: white;
        a {
            margin: 0 1.25rem;
            text-decoration: none;
            color: white;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

h2, h3, p {
    color: white;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 800;
}

p {
    font-weight: 400;
}


.divider {
    margin: 2.5rem 0;
    justify-content: center;
    align-items: center;
    .bar {
        width: 3rem;
        height: 0.05rem;
        background-color: white;
    
    }
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    a {
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    ul {
        list-style: none;
        li {
            a {
                margin: 0 1.25rem;
            }
        }
    }
}

.white {
    margin-top: 1.5rem;
    padding: 1.5rem 2.5rem;
    height: 10rem;
    width: 25rem;
    background-color: white;
    justify-content: center;
    h3 {
        color: black;
        font-size: 2.25rem;
    }
    p {
        color: black;
    }
    flex: 1;
    a {
        color: black;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}

.tom {
    justify-content: flex-end;
    align-items: flex-end;
    img {
        height: 400px;
        width: auto;
        margin-bottom: 3rem;
    }
}

.tom2 {
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    img {
        padding-top: 3rem
    }
}

#tom3 {
    width: auto;
    height: 300px;
}

.gap-1 {
    gap: 1.5rem;
}

.wrap {
    flex-wrap: wrap;
}

.pdlr-2 {
    padding: 0 2.5rem;
}

.top-index {
    z-index: 1;
}

.project {
    margin: 1.5rem 0;
    //max-width: 50%;
}

.center {
    align-items: center;
}

.text-right {
    text-align: right;
}

footer {
    margin-bottom: 5rem;
}

.outline {
    /*display:none;*/
    -webkit-text-stroke: 1px white;
    color: transparent;
    //font-size: 10rem;
    font-size: 7rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    word-spacing: 20px;
    font-weight: 1900;
    overflow-x: hidden;
}

/*.headline-cryptsim {
    top: 1700px;
}

.headline-chronicles {
    top: 2350px;
}

.headline-vapour {
    top: 3000px;
}*/

/*[class^="headline-"] {
    left: -1100px;
    position: absolute;
    z-index: 0;
    animation: headline 1800s linear infinite;
    white-space: pre;
    user-select: none;
}*/

//button
.git {
    --color: #0bad49;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    text-align: center;
    text-decoration: none;
    height: 2.6em;
    line-height: 2.5em;
    margin: 1.5rem 2.5rem;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}
   
.git:before {
content: "";
position: absolute;
z-index: -1;
background: var(--color);
height: 150px;
width: 200px;
border-radius: 50%;
}

.git:hover {
color: rgb(255, 255, 255);
cursor: pointer;
}

.git:before {
top: 100%;
left: 100%;
transition: all .7s;
}

.git:hover:before {
top: -30px;
left: -30px;
}

button:active:before {
background: #0bad49;
transition: background 0s;
}


@keyframes headline {
    0% {
        left: -10000px;
    }

    100% {
        left: 10000px;
    }
}

//hover
.wrapper-div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2.5rem;
}

.hovereffect-tom {
    float: left;
    background-image: url(./img/tom-wacky.png);
    background-repeat: no-repeat;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    left: 40px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
    padding: 0;
    margin: 0;
}

.hovereffect .overlay:before {
    position: absolute;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
}

.hovereffect:hover img {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover .overlay:before
    {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

//card flip
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.center-card {
    display: flex;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 600px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
  /* Style the back side */
.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    text-align: left;

    h1, p {
        margin: 1.5rem 2.5rem;
        color: black;
    }
}

//ids
#about {
    margin-top: 9rem;
}
  
//responsiveness
@media screen and (max-width: 1500px) {
    .container {
        h1.hello-fill{
            line-height: 100px;
        }
        h1.hello{
            line-height: 100px;
        }
    }
    .highlights {
        flex-direction: column;
    }
}

@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1300px) {
    
}

@media screen and (max-width: 1024px) {
    .tom, .tom2, .tom3, .tom4 {
        flex-direction: column;
        height: auto;
        flex-direction: center;
        align-items: center;
        img {
            height: auto;
            width: auto;
        }
        #tom3 {
            height: auto;
        }
    }
    .outline {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
     
}

@media screen and (max-width: 900px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 600px){
    .container {
        h1.hello-fill{
            font-size: 6rem;
            line-height: 75px;
        }
        h1.hello{
            font-size: 6rem;
            line-height: 75px;
        }
        .socials {
            flex-direction: column;
        }
        span.line {
            display: none;
        }
        .pdlr-2 {
            padding: 0 1.25rem;
        }
        .flip-card {
            width: 300px;
            height: 400px;
            img {
                width: 300px;
                height: 400px;
            }
            h1 {
                margin: 1rem 1.25rem 0.35rem 1.25rem;
                font-size: 1rem;
            }
            p {
                margin: 0.35rem 1.25rem;
                font-size: 0.75rem;
            }
            .git {
                margin: 0 1.25rem;
                width: 4em;
                //height: 1.3em;
                //line-height: 0;
                font-size: 1em;
            }
        }

        #about {
            margin-top: 3rem;
        }
    
        .divider {
            margin: 1.75rem;
        }
    }

    .tom, .tom2, .tom3, .tom4 {
        width: 100%;
        img {
            padding: 0;
            margin: 0;
            height: auto;
            width: 100%;
        }
        #tom3 {
            height: auto;
            width: 100%;
        }
    }

    
}

@media screen and (max-width: 500px){
    .container {
        h1.hello-fill{
            font-size: 5rem;
            line-height: 60px;
        }
        h1.hello{
            font-size: 5rem;
            line-height: 60px;
        }
    }
}

@media screen and (max-width: 450px){
    .container {
        h1.hello-fill{
            width: 90%;
            font-size: 4rem;
            line-height: 60px;
        }
        h1.hello{
            width: 90%;
            font-size: 4rem;
            line-height: 60px;
        }
        p.info {
            width: 90%;
            font-size: 0.65rem;
            margin: 1.25rem 0rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 430px){
    .container {
        width: 100%;
        h1.hello-fill{
            font-size: 2.5rem;
            line-height: 40px;
        }
        h1.hello{
            font-size: 2.5rem;
            line-height: 40px;
        }
    }

    #about {
        margin-top: 2rem;
    }

    .divider {
        margin: 1.25rem;
    }

    .tom, .tom2, .tom3, .tom4 {
        width: 100%;
        img {
            height: auto;
            width: 100%;
        }
        #tom3 {
            height: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width: 390px){
}

