@charset "utf-8";

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.featured {
    background-image: url("Start up page.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-transform: uppercase;

}

.featured-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ededed;

 }

.selection {
    display: flex;
    flex-direction: row;

}

.selection .button1,
.button2 {
    display: flex;
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 25px;
    background: transparent;
    display: inline-block;
    width: 350px;
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;

}

.button1 {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

}

.button2 {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

}

.button1:hover {
    transition: 0.3s;
    color: white;
    border: 1.5px solid #FFFFFF;

}

.button2:hover {
    transition: 0.3s;
    color: white;
    border: 1.5px solid #FFFFFF;

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    color: black;
    text-align: left;
}


